body {
    background: #f6f6f6;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #2c3e50;
    text-decoration: none;
    height:100%;
    margin: 0 !important;
    padding-top: 60px;
}
a, a:visited { cursor:pointer; text-decoration: none; color:#2c3e50 }
a:hover, a:active { text-decoration: none; color:#265581 }

#content {
    margin-right: -200px;
    padding-left: 200px;
    width: 100%;
}

/*  Navbar  */
.navbar-custom {
    padding-right: 2vw;
    background-color: #23272D;
}
.navbar-custom a {
    color: #ccc;
    font-weight: normal;
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: #ccc;
}
.nav > li > a:hover, .nav > li > a:focus {
    background: #265581;
    color: #fff;
}


/*IE6*/
* html b-divider__side { margin: 0 -3px 0 0; }
* html b-divider__side_rt { margin: 0 0 0 -3px; }
* html b-divider__base { zoom: 1; }

.b-userbar__icons-item-notify {
    background: #D8232A;
    font-size: 10px;
    line-height: 13px;
    font-weight: bold;
    color: #fff;
    padding: 0 2px;
    border-radius: 2px;
    position: absolute;
    top: 30%;
    left: 60%;
}

/*
component: Boxes
-------------------------
*/
.box {
    position: relative;
    background: #ffffff;
    border-top: 2px solid #c1c1c1;
    margin-bottom: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.box.box-primary {
    border-top-color: #3c8dbc;
}
.box.box-info {
    border-top-color: #00c0ef;
}
.box.box-danger {
    border-top-color: #f56954;
}
.box.box-warning {
    border-top-color: #f39c12;
}
.box.box-success {
    border-top-color: #00a65a;
}

.box .box-header {
    position: relative;
    font-weight: 400;
    text-align: center;
    padding: 10px 0;
    margin-bottom:0;
    color:#fff;
    background-color:#3c8dbc;
}
.box .box-header > .fa,
.box .box-header > .glyphicon,
.box .box-header > .ion,
.box .box-header .box-title {
    display: inline-block;
    padding: 10px 0 10px 10px;
    margin: 0;
    font-weight: 400;
    text-align: center;
    cursor: default;
}
.box .box-body {
    padding: 10px;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}
.error {
    border-color: #ff0000 !important;
}
/* Sidebar */
#sidebar {
    position: fixed;
    left: 200px;
    height: 100%;
    width: 200px;
    margin-left: -200px;
    margin-top: -10px;
    overflow-y: auto;
    background: #23262d;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li:hover {
    /*border-left: 4px solid #68D8C2;*/
}

.sidebar-nav a.active {
    text-decoration: none;
    color: #fff;
    background: rgb(53, 66, 80);
}

.sidebar-nav li {

    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #CCC;
    padding-left: 10px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    border-left: 4px solid #68D8C2;
}

.sidebar-nav li.active {
    text-decoration: none;
    border-left: 4px solid #3c8dbc;
}
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

div.collapse.in a {
    padding-left: 20px;
}

div.collapsing a {
    padding-left: 20px;
}

/* End Sidebar */

.editor-toolbar.fullscreen {z-index: 100; margin-top: 50px}
.editor-preview-side, .CodeMirror-fullscreen {z-index: 100; margin-top: 50px; padding: 1em;}
.editor-preview-side p {margin-bottom: 1.5em;}
.editor-preview-side em {font-style: italic;}
/* Bootstrap Changes */
.btn-primary, .btn-primary:visited, .btn-danger, .btn-danger:visited, .btn-info, .btn-info:visited {
    color: #fff;
}

@media screen and (max-width: 767px) {
    #content {
        margin-right: 0px;
        padding-left: 0px;
    }
    /* Sidebar */
    #sidebar {
        position: relative;
        left: 0;
        height: auto;
        width: auto;
        margin-left: 0;
        overflow-y: hidden;
        background: #23272D;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        padding-top:0;
    }

    .sidebar-nav {
        position: relative;
        top: auto;
        width: auto;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .navbar-collapse {
        margin-top: -10px;
        padding-right: 0;
        padding-left: 0;
    }
}
